@import "normalize";
@import "typecsset";

/* apply a natural box layout model to all elements */
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Link and focus styles */
a {
  color: #222;
}
a:hover,
a:active {
  background: #ffc !important;
  text-decoration: none;
}
a:focus {
  outline: 4px solid #000;
}
@supports (text-underline-offset: 0) {
  a {
    border: 0;
    text-decoration-line: underline;
    text-decoration-color: #36f;
    text-decoration-thickness: 1px;
    text-underline-offset: 0.18em;
    text-decoration-skip-ink: auto;
    &:focus {
      text-decoration-color: #fff;
    }
  }
  .connect-email {
    text-decoration-line: none;
  }
}

body {
  color: #222;
  font-family: "adelle-sans", Arial, sans-serif;
  font-size: 112.5%;
  margin: 0 auto;
  max-width: 26em;
}
.wrap {
  padding: 3em 6%;
}
img {
  border: 2px solid #555;
  border-radius: 50%;
  display: block;
  height: auto;
  margin: 0 auto;
  max-width: 10em;
}
h1 {
  font-family: "adelle", Georgia, serif;
}
.intro {
  font-family: "adelle", Georgia, serif;
  font-size: 1.3125em;
  font-weight: bold;
  line-height: 1.14286;
}
.entry--compliment {
  text-align: center;
}


@media screen {
  html,
  body,
  .wrap {
    height: 100%;
  }
  .entry--content {
    padding-bottom: 1.5em;
  }

  .cssvwunit body {
    font-size: 3vmin;
  }
  .cssvwunit h1 {
    font-size: 7.1vmin;
  }
  .cssvwunit .intro {
    font-size: 3.8vmin;
  }
  .cssvwunit a,
  .cssvwunit a:visited {
    border-width: 0.25vmin;
  }
}

@media screen and (max-width: 34em), (max-height: 33em) {
  .cssvwunit body {
    font-size: 100%;
  }
  .cssvwunit h1 {
    font-size: 2.375em;
  }
  .cssvwunit .intro {
    font-size: 1.25em;
  }
}
