/* Sass Reset - by Hampton Catlin. 
   A modification of the original from http://meyerweb.com/eric/tools/css/reset/
   --------------------------------------------------------------------------- */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, 
h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, 
cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, 
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, 
ol, ul, li, fieldset, form, label, legend, table, caption, 
tbody, tfoot, thead, tr, th, td, article, aside, canvas, 
details, embed, figure, figcaption, footer, header, hgroup, main, 
menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
	font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, 
header, hgroup, main, menu, nav, section {
  display: block;
}

em {
	font-style: italic;
}
h1 {
	font-size: 125%;
	font-weight: bold;
	margin-bottom: 0;
}
p {
	margin: 2em 0;
	padding: 0 1.5em;
}
ul {
	list-style: none;
}

/* Text for screen readers. */
.screen-reader-text {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important; 
  width: 1px !important; 
  overflow: hidden;
}
.screen-reader-text {
	position: relative !important;
}
.no-js .screen-reader-text {
	position: relative !important;
}

/* Custom font-icon */
@font-face {
	font-family: 'email-icon';
	src:url('/fonts/email-icon.eot');
	src:url('/fonts/email-icon.eot?#iefix') format('embedded-opentype'),
		url('/fonts/email-icon.woff') format('woff'),
		url('/fonts/email-icon.ttf') format('truetype'),
		url('/fonts/email-icon.svg#email-icon') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* Link rules */
a, a:visited {
	border-bottom: 2px solid #9cf;
	color: #333;
	padding-bottom: 0.15em;
	text-decoration: none;
	&:focus {
		border: 0;
		outline: 4px solid #f00;
		margin: -0.1875em -0.375em;
		padding: 0.1875em 0.375em;
	}
}

/* Single page style declarations
   --------------------------------------------------------------------------- */

html, body {
	background: #efefef;
	color: #333;
	font-family: Georgia, serif;
	font-size: 100%;
	line-height: 2;
}
lt-ie9  {
	text-align: center;
}
.wrap {
	margin: 0 auto;
	width: 24em;
}
.entry {
	padding: 2.5em 0;
	text-align: center;
}
.entry--intro {
	font-size: 150%;
	line-height: 1.35;
	margin-bottom: 0;
	padding: 0;
}
.entry--compliment {
	padding: 1.25em 0;
}
.lt-ie9 .screen-reader-text {
	position: relative !important;
}

@media only screen {
	html, body {
		height: 100%;
	}
	.wrap {
		display: table;
		height: 100%;
		width: auto;
	}
	.entry {
		display: table-cell;
		padding: 1.25em 1.25em 4.75em;
		max-width: 24em;
		position: relative;
		vertical-align: middle;
	}
	.entry--compliment {
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
	}
	.screen-reader-text {
		position: absolute !important;
	}
	.no-fontface .screen-reader-text {
		position: relative !important;
	}
	.fontface .connect-email {
		font-size: 3em;
	}
	.fontface .connect-email {
		border: 0;
		color: #36f;
		font-family: 'email-icon';
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		padding: 0.1875em !important;
		-webkit-font-smoothing: antialiased;
	}
	.no-fontface .connect-email {
		color: #333;
		border-bottom: 1px solid #999;
		padding: 0;
		padding-bottom: 0.15em;
		font-size: 1em;
	}
	.fontface .connect-email:before {
		content: "\e000";
	}
	.no-fontface .connect-email:before {
		content: "";
	}
}