@import 'normalize';
@import 'typecsset';


/* apply a natural box layout model to all elements */
*, 
*:before, 
*:after {
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
}


/* Custom font-icon */
@font-face {
	font-family: 'email-icon';
	src:url('/fonts/email-icon.eot');
	src:url('/fonts/email-icon.eot?#iefix') format('embedded-opentype'),
		url('/fonts/email-icon.woff') format('woff'),
		url('/fonts/email-icon.ttf') format('truetype'),
		url('/fonts/email-icon.svg#email-icon') format('svg');
	font-weight: normal;
	font-style: normal;
}


/* Link and focus styles */
a {
	border-bottom: 1px solid #69f;
	color: #222;
	padding-bottom: 0.1em;
	text-decoration: none;
}
a:visited {
	border-color: #555;
}
a:hover,
a:active {
	background: #ffc !important;
	border: 0;
	color: #222 !important;
	margin: -0.1em -0.2em;
	padding: 0.1em 0.2em;
}
a:focus {
	background: #000;
	border: 0;
	color: #fff;
	margin: -0.1em -0.2em;
	outline: 0;
	padding: 0.1em 0.2em;
}
.entry--compliment a:hover {
	background: #fff;
}
.no-fontface .entry--compliment a:hover,
.no-js .entry--compliment a:hover {
	background: #ffc;
}


body {
	color: #222;
	font-family: "adelle-sans", Arial, sans-serif;
	font-size: 100%;
	margin: 0 auto;
	max-width: 32em;
}
.lte-ie8 body {
	max-width: auto;
	width: 32em;
}
.wrap {
	padding: 1.5em 6%;
}
h1 {
	font-family: "adelle", Georgia, serif;
}
.intro {
	font-family: "adelle", Georgia, serif;
	font-size:1.3125em;
	font-weight: bold;
	line-height:1.14286
}
.entry--compliment {
	text-align: center;
}

/* Assistive text screen readers. */
.assistive-text {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}
.assistive-text,
.no-js .assistive-text {
	position: relative !important;
}


@media screen {
	html,
	body,
	.wrap {
		height:  100%;
	}
	.wrap {
		display: table;
	}
	.entry {
		display: table-cell;
		vertical-align: middle;
	}
	.entry--content {
		padding-bottom: 1.5em;
	}
	.assistive-text {
		position: absolute !important;
	}
	.no-fontface .assistive-text {
		position: relative !important;
	}
	.fontface .connect-email {
		font-size: 3em;
	}
	.fontface .connect-email {
		border: 0;
		color: #36f;
		font-family: 'email-icon';
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		padding: 0.1875em !important;
		/* Better Font Rendering =========== */
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	.fontface .connect-email:focus:hover {
		color: #36f;
	}
	.fontface .connect-email:focus {
		color: #fff;
	}
	.no-fontface .connect-email {
		color: #333;
		border-bottom: 1px solid #999;
		padding: 0;
		padding-bottom: 0.1em;
		font-size: 1em;
	}
	.fontface .connect-email:before {
		content: "\e601";
	}
	.no-fontface .connect-email:before {
		content: "";
	}

	.cssvwunit body {
		font-size: 3vmin;
	}
	.cssvwunit h1 {
		font-size: 7.1vmin;
	}
	.cssvwunit .intro {
		font-size: 3.8vmin;
	}
	.cssvwunit a, .cssvwunit a:visited {
		border-width: 0.25vmin;
	}

}


@media screen and (max-width: 34em), (max-height: 33em) {
	.cssvwunit body {
		font-size: 100%;
	}
	.cssvwunit h1 {
		font-size: 2.375em;
	}
	.cssvwunit .intro {
		font-size: 1.25em;
	}
}