:root {
  --font-primary-stack: adelle-sans, sans-serif;
  --font-secondary-stack: adelle, serif;
  --font-base-size: 125%;
  --font-clamp-size: clamp(100%, 3.5vw, 200%);

  --color-dark: #111;
  --color-light: #eee;

  --theme-color-fore: var(--color-dark);
  --theme-color-back: var(--color-light);
  --theme-color-link: #00f;
}
@media (prefers-color-scheme: dark) {
  :root {
    --theme-color-fore: var(--color-light);
    --theme-color-back: var(--color-dark);
    --theme-color-link: #99f;
  }
}

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

 html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
}

/* -------------------------------------------------------------------------
 * Utility class to hide content visually while keeping it screen reader-accessible.
 * Source: https://www.scottohara.me/blog/2017/04/14/inclusively-hidden.html 
 * ------------------------------------------------------------------------- */
.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

img {
  width: 100%;
}
a:is(:link, :visited) {
  color: var(--theme-color-link);
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
  &:focus {
    outline: 2px solid var(--theme-color-link);
    outline-offset: 2px;
    position: relative;
    text-decoration: none;
    z-index: 1000;
  }
  &:focus:not(:focus-visible) {
    outline: none;
  }
  &:focus-visible {
    outline: max(2px, 0.125em) solid var(--theme-color-link);
    outline-offset: 0.2em;
    text-decoration: none;
  }
}

body {
  background-color: var(--theme-color-back);
  color: var(--theme-color-fore);
  font-family: var(--font-primary-stack);
  font-size: var(--font-base-size);
  font-weight: normal;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 25em;
}
@supports (font-size: clamp(100%, 3.5vw, 200%)) {
    body {
      font-size: var(--font-clamp-size);
    }
  }
@supports (grid-template-columns: minmax(5%, 1fr)) and (grid-template-columns: min(100% - (5% * 2), 25em)) {
  body {
    display: grid;
    grid-template-columns: 
      [full-width-start] minmax(5%, 1fr) [content-start] min(100% - (5% * 2), 25em) [content-end] minmax(5%, 1fr) [full-width-end];
    margin: auto;
    max-width: none;
  }
  body > * {
     grid-column: content;
  }
}
.hero {
  border: 0.15em solid var(--theme-color-fore);
  border-radius: 50%;
  display: block;
  height: auto;
  margin: 0 auto;
  max-width: 10em;
}
.entry--content {
  margin: 3em 0 0;
}
.entry--title {
  font-size: 2.75em;
  line-height: 1;
  text-wrap: balance;
}
h1,
.lede {
  font-family: var(--font-secondary-stack);
}
.lede {
  font-size: 1.25em;
  font-weight: bold;
  line-height: 1.3;
}
.entry--contact {
  margin: 3em 0;
  text-align: center;
}
.icon {
  display: inline-block;
  fill: var(--theme-color-link);
  width: 3em;
}