<!DOCTYPE html>

<!--[if IEMobile 7 ]><html class="iem7 no-js page {{ page.class }}"><![endif]-->
<!--[if lt IE 9]><html class="lte-ie8 no-js page {{ page.class }}"><![endif]-->
<!--[if (gt IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html class="no-js page {{ page.class }}" lang="en"><!--<![endif]-->

<head>

	<meta charset="UTF-8" />

	<meta name="viewport" content="initial-scale=1.0, width=device-width" />

	<title>{{ page.title }}</title>

	<link rel="stylesheet" href="/css/style.css" />

	<script src="/js/modernizr.js"></script>

	<script type="text/javascript" src="//use.typekit.net/sxx0gdo.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

	{{ page.description }}

</head>

<body>
	<div class="wrap">
{{ content }}
	</div>
</body>

</html>